$numberOfDays: 7;
$numberOfHours: #{24 * 2};
$headerElements: 1;


:root {
  --numDays: #{$numberOfDays};
  --numHours: #{$numberOfHours};
  --timeHeight: 60px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;

  --timelineListWidth: 85px;
  --scrollbarWidth: 15px;
}

.page-container {
  height: 100vh;
  width: 100%;
}

@for $i from 0 through 11 {
  .time-start-#{$i}-00,
  .time-start-#{$i} {
    grid-row-start: #{($i * 2) + $headerElements};
  }

  .time-start-#{$i}-30 {
    grid-row-start: #{(($i * 2) + 1) + $headerElements};
  }

  .time-end-#{$i}-00,
  .time-end-#{$i} {
    grid-row-end: #{($i * 2) + $headerElements };
  }

  .time-end-#{$i}-30 {
    grid-row-end: #{(($i * 2) + 1) + $headerElements};
  }
}

@for $i from 0 through 23 {
  .time-hour-#{$i} {
    grid-area: #{(60 * $i) + 1} / 1 / #{(60 * $i) + 2} / 2;
  }
}

.tp- {

  &calendar {
    //height: 100%;
    //width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__controls {
      display: flex;
      height: 40px;
      padding-inline: 0px;
      margin-block-end: 22px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }

    &__content {
      min-height: 0px;
      outline: none;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      //height: 100%;

    }
  }

  &content {

    &__scroll {
      overflow-y: auto;
    }

    &-header {
      display: grid;
      grid-template-columns: var(--timelineListWidth) auto;
      grid-template-rows: 1fr;
      gap: 0px;
      
      > div:nth-child(1), {
        width: var(--timelineListWidth);
      }

      &-container {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column dense;
        padding-right: var(--scrollbarWidth);
      }

      .heading {
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }

    &-area {
      position: relative;

      display: flex;

      //height: calc(200%);
      //overflow: hidden;
      //min-height: 960px;

    }

    &__timeline {
      display: grid;
      grid-template-columns: 90px;
      grid-template-rows: repeat(1440, 1fr);
      gap: 0px;
      height: 100%;
      width: var(--timelineListWidth);

      .time {
        height: 1px;
      }

      .time-label {
        position: relative;
        top: -8px;
        left: -20px;
        height: 20px;
        width: 90px;
        overflow: hidden;
        text-align: right;
      }
    }

    &__matrix {
      position: relative;
      flex: 1 1;
    }
  }

  &matrix {

    &__background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

    }

    &__lines {

      &-vertical {
        position: absolute;
        //height: 100%;
        //width: 100%;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &-column {
        flex: 1 1 0%;
        background-color: #fafafa;
        border-left: 1px solid #ccc;
      }

      &-horizontal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .line {
          position: absolute;
          width: 100%;
          border-bottom: 1px solid #252525;
        }
      }

    }

    &__events {
      width: 100%;
      height: 100%;
      position: relative;
    }

  }

}

