:root {
  --numDays: 7;
  --numHours: 48;
  --timeHeight: 60px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
  --timelineListWidth: 85px;
  --scrollbarWidth: 15px;
}

.page-container {
  height: 100vh;
  width: 100%;
}

.time-start-0-00,
.time-start-0 {
  grid-row-start: 1;
}

.time-start-0-30 {
  grid-row-start: 2;
}

.time-end-0-00,
.time-end-0 {
  grid-row-end: 1;
}

.time-end-0-30 {
  grid-row-end: 2;
}

.time-start-1-00,
.time-start-1 {
  grid-row-start: 3;
}

.time-start-1-30 {
  grid-row-start: 4;
}

.time-end-1-00,
.time-end-1 {
  grid-row-end: 3;
}

.time-end-1-30 {
  grid-row-end: 4;
}

.time-start-2-00,
.time-start-2 {
  grid-row-start: 5;
}

.time-start-2-30 {
  grid-row-start: 6;
}

.time-end-2-00,
.time-end-2 {
  grid-row-end: 5;
}

.time-end-2-30 {
  grid-row-end: 6;
}

.time-start-3-00,
.time-start-3 {
  grid-row-start: 7;
}

.time-start-3-30 {
  grid-row-start: 8;
}

.time-end-3-00,
.time-end-3 {
  grid-row-end: 7;
}

.time-end-3-30 {
  grid-row-end: 8;
}

.time-start-4-00,
.time-start-4 {
  grid-row-start: 9;
}

.time-start-4-30 {
  grid-row-start: 10;
}

.time-end-4-00,
.time-end-4 {
  grid-row-end: 9;
}

.time-end-4-30 {
  grid-row-end: 10;
}

.time-start-5-00,
.time-start-5 {
  grid-row-start: 11;
}

.time-start-5-30 {
  grid-row-start: 12;
}

.time-end-5-00,
.time-end-5 {
  grid-row-end: 11;
}

.time-end-5-30 {
  grid-row-end: 12;
}

.time-start-6-00,
.time-start-6 {
  grid-row-start: 13;
}

.time-start-6-30 {
  grid-row-start: 14;
}

.time-end-6-00,
.time-end-6 {
  grid-row-end: 13;
}

.time-end-6-30 {
  grid-row-end: 14;
}

.time-start-7-00,
.time-start-7 {
  grid-row-start: 15;
}

.time-start-7-30 {
  grid-row-start: 16;
}

.time-end-7-00,
.time-end-7 {
  grid-row-end: 15;
}

.time-end-7-30 {
  grid-row-end: 16;
}

.time-start-8-00,
.time-start-8 {
  grid-row-start: 17;
}

.time-start-8-30 {
  grid-row-start: 18;
}

.time-end-8-00,
.time-end-8 {
  grid-row-end: 17;
}

.time-end-8-30 {
  grid-row-end: 18;
}

.time-start-9-00,
.time-start-9 {
  grid-row-start: 19;
}

.time-start-9-30 {
  grid-row-start: 20;
}

.time-end-9-00,
.time-end-9 {
  grid-row-end: 19;
}

.time-end-9-30 {
  grid-row-end: 20;
}

.time-start-10-00,
.time-start-10 {
  grid-row-start: 21;
}

.time-start-10-30 {
  grid-row-start: 22;
}

.time-end-10-00,
.time-end-10 {
  grid-row-end: 21;
}

.time-end-10-30 {
  grid-row-end: 22;
}

.time-start-11-00,
.time-start-11 {
  grid-row-start: 23;
}

.time-start-11-30 {
  grid-row-start: 24;
}

.time-end-11-00,
.time-end-11 {
  grid-row-end: 23;
}

.time-end-11-30 {
  grid-row-end: 24;
}

.time-hour-0 {
  grid-area: 1/1/2/2;
}

.time-hour-1 {
  grid-area: 61/1/62/2;
}

.time-hour-2 {
  grid-area: 121/1/122/2;
}

.time-hour-3 {
  grid-area: 181/1/182/2;
}

.time-hour-4 {
  grid-area: 241/1/242/2;
}

.time-hour-5 {
  grid-area: 301/1/302/2;
}

.time-hour-6 {
  grid-area: 361/1/362/2;
}

.time-hour-7 {
  grid-area: 421/1/422/2;
}

.time-hour-8 {
  grid-area: 481/1/482/2;
}

.time-hour-9 {
  grid-area: 541/1/542/2;
}

.time-hour-10 {
  grid-area: 601/1/602/2;
}

.time-hour-11 {
  grid-area: 661/1/662/2;
}

.time-hour-12 {
  grid-area: 721/1/722/2;
}

.time-hour-13 {
  grid-area: 781/1/782/2;
}

.time-hour-14 {
  grid-area: 841/1/842/2;
}

.time-hour-15 {
  grid-area: 901/1/902/2;
}

.time-hour-16 {
  grid-area: 961/1/962/2;
}

.time-hour-17 {
  grid-area: 1021/1/1022/2;
}

.time-hour-18 {
  grid-area: 1081/1/1082/2;
}

.time-hour-19 {
  grid-area: 1141/1/1142/2;
}

.time-hour-20 {
  grid-area: 1201/1/1202/2;
}

.time-hour-21 {
  grid-area: 1261/1/1262/2;
}

.time-hour-22 {
  grid-area: 1321/1/1322/2;
}

.time-hour-23 {
  grid-area: 1381/1/1382/2;
}

.tp-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.tp-calendar__controls {
  display: flex;
  height: 40px;
  padding-inline: 0px;
  margin-block-end: 22px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.tp-calendar__content {
  min-height: 0px;
  outline: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.tp-content__scroll {
  overflow-y: auto;
}
.tp-content-header {
  display: grid;
  grid-template-columns: var(--timelineListWidth) auto;
  grid-template-rows: 1fr;
  gap: 0px;
}
.tp-content-header > div:nth-child(1) {
  width: var(--timelineListWidth);
}
.tp-content-header-container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column dense;
  padding-right: var(--scrollbarWidth);
}
.tp-content-header .heading {
  grid-row-start: 1;
  grid-row-end: 1;
}
.tp-content-area {
  position: relative;
  display: flex;
}
.tp-content__timeline {
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: repeat(1440, 1fr);
  gap: 0px;
  height: 100%;
  width: var(--timelineListWidth);
}
.tp-content__timeline .time {
  height: 1px;
}
.tp-content__timeline .time-label {
  position: relative;
  top: -8px;
  left: -20px;
  height: 20px;
  width: 90px;
  overflow: hidden;
  text-align: right;
}
.tp-content__matrix {
  position: relative;
  flex: 1 1;
}
.tp-matrix__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tp-matrix__lines-vertical {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tp-matrix__lines-column {
  flex: 1 1 0%;
  background-color: #fafafa;
  border-left: 1px solid #ccc;
}
.tp-matrix__lines-horizontal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tp-matrix__lines-horizontal .line {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #252525;
}
.tp-matrix__events {
  width: 100%;
  height: 100%;
  position: relative;
}
